<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'webframe/css/homepage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
            // Prevent default anchor click behavior
                event.preventDefault();
                // Store hash
                var hash = this.hash;
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 500, function(){
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
        
    });
    
    </script>
</head>
<body>
    <div class = 'wrapper1' id = 'one'>
        <h1><span class = 's'>.</span>can<span class = 's'>s</span></h1>
        <h6>a simple machine learning demo that can detect cans from the brands sprite, fanta, and dr.pepper</h6>
        <br>
        <a href="#two">click for cans</a> | <a href="#three">click for architecture</a> | <a href="#four">click to start</a>
    </div>

    <div class = "wrapper2" id = 'two'>
        <h2>sample cans</h2>
        <div>
            <img class = 'sample' src="{% static 'webframe/images/dr_pepper.jpeg' %}" alt="dr.pepper">
            <img class = 'sample' src="{% static 'webframe/images/fanta.jpg' %}" alt="fanta">
            <img class = 'sample' src="{% static 'webframe/images/sprite.jpg' %}" alt="sprite">
        </div>
        <br>
        <a href="#one">back to top</a> | <a href="#three">click for architecture</a> | <a href="#four">click to start</a>
    </div>

    <div class="wrapper2" id = 'three'>
        <h2>the machine learning architecture</h2>

        <img class="materialboxed" src="{% static 'webframe/images/rcnn.jpg' %}" alt="rcnn">

        <br>
        <a href="#one">back to top</a> | <a href="#two">click for cans</a> | <a href="#four">click to start</a>
    </div>

    <div class="wrapper2" id = 'four'>
        <h2>choose your method of detection</h2>
        <div class="row">
            <div class="col s3 offset-s3">
                <div class="card white darken-1">
                    <div class="card-content">
                        <span class="card-title grey-text">image recognition</span>
                        <br>
                        <p>upload a picture and see if your image contains the designated cans</p>
                        <br>
                    </div>
                    <div class="card-action">
                        <a href="/images">go to image detection</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card white darken-1">
                    <div class="card-content">
                        <span class="card-title grey-text">live object detection</span>
                        <br>
                        <p>use your webcam to see a live demonstration of can detection</p>
                        <br>
                    </div>
                    <div class="card-action">
                        <a href="/live">go to live video detection</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a href="#one">back to top</a> | <a href="#two">click for cans</a> | <a href="#three">click for architecture</a>
    </div>


</body>
</html>