<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'webframe/css/homepage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <div class = 'prompt'>
        <h5 class = 'web'>live object detection</h5>
        <h6>*THIS DOES NOT WORK YET. SORRY</h6>
        <img src="" alt="">
        <div id="container">
            <video autoplay="true" id="videoElement"></video>
        </div>
        <script>
                var video = document.querySelector("#videoElement");
                if (navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                    video.srcObject = stream;
                    })
                    .catch(function (err0r) {
                    console.log("Something went wrong!");
                    });
                }
            </script>
        <br>

        <!-- test code -->
        <img src="data:image/jpeg;base64, {{img}}"></img>


        <a href="/">back home</a>
    </div>
</body>
</html>